name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  sync:
    runs-on: [self-hosted, trusted]
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
