name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  sync:
    runs-on: self-hosted
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
